@import "variables";

@mixin menu {
  position: absolute;
  background: var(--background);
  box-shadow: var(--shadow);
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex: 1;

    &:after {
      content: '';
      background: repeating-linear-gradient(90deg, var(--accent), var(--accent) 2px, transparent 0, transparent 16px);
      display: block;
      width: 100%;
      right: 10px;
    }

    a {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }

  .menu {
    margin: 20px 0;

    &__inner {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        &.active {
          color: var(--accent-alpha-70);
        }

        &:not(:last-of-type) {
          margin-right: 20px;
          flex: 0 0 auto;
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      &:not(:only-child) {
        margin-left: 20px;
      }

      &-more {
        @include menu;
        top: 35px;
        left: 0;

        &-trigger {
          color: var(--accent);
          user-select: none;
          cursor: pointer;
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }
  }

  .theme-switch {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
    cursor: pointer;
    list-style: none;
    padding: 0;

    &:hover,
    &:focus-visible {
      border-color: var(--accent);
    }

    &:focus-visible {
      outline-style: dashed;
    }

    &:active {
      transform: scale(.95);
    }
  }

  .theme-switch__icon {
    display: block;
    line-height: 1;
    transition: transform .3s ease;
  }
  .theme-switch .theme-switch__icon {
    transform: rotate(45deg);
  }
  .theme-switch:hover .theme-switch__icon,
  .theme-switch:focus-visible .theme-switch__icon {
    transform: rotate(225deg);
  }
}
