@import 'variables';

.pagination {
  margin-top: 40px;

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 20px 0 20px;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      background: var(--background);
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: .1em;
      z-index: 1;
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 15px;
      z-index: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $phone-max-width) {
      flex-direction: column;
    }

    .button a {
      padding: 8px;
      text-decoration: none;
    }
  }

  &__pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 0 15px;

    .button {
      max-width: none;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 8px;
  max-width: 40%;
  padding: 0;
  cursor: pointer;
  appearance: none;

  @media (max-width: $phone-max-width) {
    max-width: 80%;
  }

  +.button {
    margin-left: 10px;
  }

  a {
    display: flex;
    padding: 8px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.page-number {
    height: 32px;
    min-width: 32px;
    padding: 0;

    :hover {
      text-decoration: underline;
    }

    &.is-active {
      padding: 8px;
      background: var(--accent-alpha-20, rgba(27, 192, 128, 0.2));
      color: var(--accent);
    }

    &+.page-number {
      margin-left: 0;
    }

    .button__text {
      color: inherit;
    }
  }
}