{% macro cdn() %}
    <link rel="preconnect" href="https://fonts.font.im">
    <link rel="stylesheet" href="https://fonts.font.im/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap" crossorigin="anonymous" referrerpolicy="no-referrer" >
    <link rel="stylesheet" href="https://unpkg.com/viewerjs@1.11.6/dist/viewer.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/alertifyjs@1.13.1/build/css/alertify.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/alertifyjs@1.13.1/build/css/themes/default.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aplayer@1.10.1/dist/APlayer.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>console.log=()=>{}</script>
    <script src="https://unpkg.com/pjax@0.2.8/pjax.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/topbar@3.0.0/topbar.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/viewerjs@1.11.6/dist/viewer.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/alertifyjs@1.13.1/build/alertify.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/tocbot@4.31.0/dist/tocbot.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aplayer@1.10.1/dist/APlayer.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='{{ get_url(path="js/main.js") }}'></script>
{% endmacro %}
